mixin card (params)
    article(id= params.id class=params.bigCard ? 'card card--big':'card card--small')
        div.card__image
            picture
                source(srcset=params.srcJPG2 type='image/jp2')
                source(srcset=params.srcWEBP type='image/webp')
                img(src=params.src alt=params.alt)
            if (params.smallCard)
                div.card__more
                    a(href="#" role="button" class="card__showMore") Детальнее
            if (params.bigCard)
                div.card__addInfo
                    span.card__addInfoHead Тур
                    span.card__addInfoHead=params.addInfoHead
                    span Код тура
                    span.card__addInfoCode=params.addInfoCode
                include ../assets/cardImage/bg.svg
                div.card__infoColumn
                    span.card__descInfo=params.descInfo
                    span.card__descInfo солнечных дней в году
        div.card__info
            if (params.smallCard)
                div.card__smallCardhead
                    h2=params.head
                    span.card__descInfo=params.descInfo
                div.card__smallCardPrice
                    span.card__price=params.price
                    if (params.discount)
                        span.card__startPrice=params.startPrice
            if (params.bigCard)
                div.card__infoColumn
                    div.card__infoRow
                        h2=params.head
                        div.card__voteSymbols
                            include ../assets/StarSelected.svg
                            include ../assets/StarSelected.svg
                            include ../assets/StarSelected.svg
                            include ../assets/starIcon.svg
                            include ../assets/starIcon.svg
                        span.card__price=params.price
                    div.card__infoRow.card__reviews
                        div.card__reviewsCount
                            span.card__reviewsHead Оценка отеля
                            span.card__reviewsVote=`${params.reviewsCount} отзывов`
                        div.card__reviewsItem.card__rating=params.rating
                        div.card__reviewsItem
                            span.card__reviewsHead номер
                            span.card__reviewsVote=params.number
                        div.card__reviewsItem
                            span.card__reviewsHead питание
                            span.card__reviewsVote=params.food
                        div.card__reviewsItem
                            span.card__reviewsHead сервис
                            span.card__reviewsVote=params.service
                        div.card__reviewsItem
                            span.card__reviewsHead инфраструктура
                            span.card__reviewsVote=params.infrastructure
