include card

section.cardList
    +card({
      bigCard: true,
      id: 'card1',
      src: '/assets/cardImage/tour.jpg',
      srcWEBP: '/assets/cardImage/tour.webp',
      srcJPG2: '/assets/cardImage/tour.jp2',
      alt: 'Тур в Созополь',
      head: 'Aquamarine hotel',
      addInfoHead: 'в Созополь, Болгария',
      addInfoCode: '3094119',
      price: '256',
      number: '8.9',
      food: '8.1',
      service: '7.9',
      infrastructure: '8.9',
      reviewsCount: '45',
      rating: '8.4',
      descInfo: '320'
    })
    +card({
      smallCard: true,
      id: 'card2',
      src: '/assets/cardImage/route.jpg',
      srcWEBP: '/assets/cardImage/route.webp',
      srcJPG2: '/assets/cardImage/route.jp2',
      alt: 'Шелковый путь',
      head: 'Шелковый путь',
      descInfo: 'Экстремальный маршрут',
      price: '158'
    })
    +card({
      smallCard: true,
      discount: true,
      id: 'card3',
      src: '/assets/cardImage/jumps.jpg',
      srcWEBP: '/assets/cardImage/jumps.webp',
      srcJPG2: '/assets/cardImage/jumps.jp2',
      alt: 'Роупджампинг',
      head: 'Роупджампинг',
      descInfo: 'Не дай Бог не любишь',
      price: '57',
      startPrice: '90'
    })
