div.social
    a(href='#' aria-label="facebook").social__item
        include socialIcons/facebookLogo.svg
    a(href='#' aria-label="google").social__item
        include socialIcons/gLogo.svg
    a(href='#' aria-label="instagram").social__item
        include socialIcons/instagramLogo.svg
