div.info__tableWrapper
    div.info__table
        div.info__tableRow.info__tableRow--head
            div.info__tableCell
            div.info__tableCell Хлорофилл а
            div.info__tableCell Хлорофилл b
            div.info__tableCell Хлорофилл с1
            div.info__tableCell Хлорофилл с2
        div.info__tableRow
            div.info__tableCell.info__tableCell--head Формула
            div.info__tableCell
                div.info__tableCellItem
                    span C
                        sub 55
                    span H
                        sub 44
                    span O
                        sub 5
                    span N
                        sub 4
                    span Mg
            div.info__tableCell
                div.info__tableCellItem
                    span C
                        sub 55
                    span H
                        sub 44
                    span O
                        sub 5
                    span N
                        sub 4
                    span Mg
            div.info__tableCell
                div.info__tableCellItem
                    span C
                        sub 55
                    span H
                        sub 44
                    span O
                        sub 5
                    span N
                        sub 4
                    span Mg
            div.info__tableCell
                div.info__tableCellItem
                    span C
                        sub 55
                    span H
                        sub 44
                    span O
                        sub 5
                    span N
                        sub 4
                    span Mg
        div.info__tableRow
            div.info__tableCell.info__tableCell--head С2 группа
            div.info__tableCell
                div.info__tableCellItem
                    span -C
                        sub 55
            div.info__tableCell
                div.info__tableCellItem
                    span -C
                        sub 55
            div.info__tableCell
                div.info__tableCellItem
                    span -C
                        sub 55
            div.info__tableCell
                div.info__tableCellItem
                    span -C
                        sub 55
        div.info__tableRow
            div.info__tableCell.info__tableCell--head С3 группа
            div.info__tableCell
                div.info__tableCellItem
                    span C
                        sub 55
                    span H
                        sub 44
                    span O
                        sub 5
                    span N
                        sub 4
                    span Mg
            div.info__tableCell
                div.info__tableCellItem
                    span C
                        sub 55
                    span H
                        sub 44
                    span O
                        sub 5
                    span N
                        sub 4
                    span Mg
            div.info__tableCell
                div.info__tableCellItem
                    span C
                        sub 55
                    span H
                        sub 44
                    span O
                        sub 5
                    span N
                        sub 4
                    span Mg
            div.info__tableCell
                div.info__tableCellItem
                    span C
                        sub 55
                    span H
                        sub 44
                    span O
                        sub 5
                    span N
                        sub 4
                    span Mg
