@import "_variables";

.cardList {
  critical: this;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "tour tour"
                        "route jumps";
  grid-gap: 40px;
}

#card1 {
  critical: this;
  grid-area: tour;
}
#card2 {
  critical: this;
  grid-area: route;
}
#card3 {
  critical: this;
  grid-area: jumps;
}

//showMore button styles start
.card {
  &__more {
    .centerFlexAlign;
    position: absolute;
    top: 50%;
    left: 50%;
    .sizeElement(80%; 70%);
    margin-left: -41%;
    margin-top: -21%;
    overflow: hidden;
    &::before {
      .showMoreElements;
      border-bottom: 2px solid #ffffff;
      bottom: 0;
      left: 100%;
    }
    &::after {
      .showMoreElements;
      border-top: 2px solid #ffffff;
      top: 0;
      left: -100%;
    }
  }
  &__showMore {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 20px;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
//showMore button styles end

.card {
  critical: this;
  display: inline-flex;
  flex-direction: column;
  &__image {
    critical: this;
    position: relative;
    &::before {
      critical: this;
      position: absolute;
      top: 0;
      left: 0;
      .sizeMax;
      background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
      content: '';
      opacity: 0;
      transform: translate3d(0,0,50%);
      transition: transform 0.3s, opacity 0.3s;
    }
    img {
      critical: this;
      .sizeElement(100%; auto);
    }
    svg {
      critical: this;
      position: absolute;
      right: 0;
      bottom: -1px;

    }
    &:hover,
    &:focus {
      &::before {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
      & .card__addInfo {
        .card__addInfoHead {
          critical: this;
          color: #CB0000;
        }
      }
      & .card__more {
        &::before {
          content: "";
          left: 0;
          opacity: 1;
        }
        &::after {
          content: "";
          left: 0;
          opacity: 1;
        }
      }
      & .card__showMore {
        opacity: 1;
      }
    }
  }
  &__addInfo {
    critical: this;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .sizeCircle(250px);
    position: absolute;
    bottom: 36px;
    left: 32px;
    background-color: rgba(255, 242, 0, 0.7);
    font-family: "Trebuchet MS", sans-serif;
    box-sizing: border-box;
    padding: 47px 0;
    span {
      critical: this;
      text-align: center;
      &:nth-of-type(3) {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 7px;
      }
    }
  }
  &__addInfoHead {
    critical: this;
    font-size: 25px;
    padding: 0 20%;
    font-weight: bold;
    color: #000000;
    transition: color 0.3s;
    &:nth-of-type(2) {
      critical: this;
      line-height: 28px;
      margin-bottom: 14px;
    }
  }
  &__addInfoCode {
    critical: this;
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    .sizeElement(108px; 30px);
    letter-spacing: 1px;
    background-color: #000000;
    color: #ffffff;
  }
  &__price {
    critical: this;
    font-size: 35px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    &::before {
      content: "$";
      font-size: 35px;
      font-family: "Trebuchet MS", sans-serif;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.card--big {
  critical: this;
  .card {
    &__info {
      critical: this;
      display: flex;
    }
    &__infoColumn {
      &:nth-of-type(1) {
        critical: this;
        width: 67.5%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 23px;
      }
      &:nth-of-type(2) {
        critical: this;
        display: inline-flex;
        flex-direction: column;
        width: 32.5%;
        position: absolute;
        right: 0;
        bottom: -126px;
      }
    }
    &__infoRow {
      critical: this;
      display: flex;
      align-items: center;
    }
    &__reviews {
      critical: this;
      margin-top: 34px;
      margin-bottom: 16px;
    }
    &__reviewsItem {
      critical: this;
      display: flex;
      flex-direction: column;
      margin-right: 3.5%;
      font-family: Arial, sans-serif;
      letter-spacing: 0.05em;
    }
    &__reviewsHead {
      critical: this;
      font-size: 12px;
      text-transform: uppercase;
    }
    &__reviewsVote {
      critical: this;
      font-size: 18px;
      font-weight: bold;
      color: #000000;
    }
    &__rating {
      critical: this;
      font-family: "Trebuchet MS", sans-serif;
      font-size: 24px;
      padding: 13.5px 8px;
      display: flex;
      background-color: #00BFF3;
      color: #ffffff;
    }
    &__descInfo {
      critical: this;
      font-size: 30px;
      font-family: Arial, sans-serif;
      color: #000000;
      box-sizing: border-box;
      padding: 0 24%;
      &:nth-of-type(1) {
        critical: this;
        font-size: 88px;
        font-weight: bold;
        letter-spacing: -0.05em;
        color: #777777;
        font-family: "Trebuchet MS", sans-serif;
        margin-bottom: -6px;
      }
      &:nth-of-type(2) {
        critical: this;
        text-align: center;
        margin-bottom: 6px;
      }
    }
    &__voteSymbols {
      critical: this;
      display: flex;
      width: 145px;
      justify-content: space-between;
      margin: 0 21px 0;
    }
    &__reviewsCount {
      critical: this;
      display: flex;
      flex-direction: column;
      margin-right: 5%;
      span {
        critical: this;
        font-size: 14px;
        font-family: Arial, sans-serif;
        text-transform: none;
        letter-spacing: 0;
      }
      & .card__reviewsVote {
        critical: this;
        font-weight: bold;
      }
    }
  }
}

.card--small {
  .card {
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-top: 25px;
    }
    &__descInfo {
      font-size: 14px;
      font-family: Arial, sans-serif;
    }
    &__smallCardPrice {
      display: flex;
      flex-direction: column;
    }
    &__smallCardhead {
      h2 {
        margin-bottom: 15px;
      }
    }
    &__startPrice {
      align-self: flex-end;
      color: #777777;
      font-size: 20px;
      font-family: "Trebuchet MS", sans-serif;
      text-decoration: line-through red;
      margin-top: 10px;
      margin-right: 3px;
      &::before {
        content: "$";
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cardList {
    width: 100%;
  }
  .card {
    display: flex;
    width: 100%;
    &__addInfoHead {
      font-size: 23px;
      padding: 0 5%;
      &:nth-of-type(2) {
        margin-bottom: 0;
      }
    }
    &__addInfoCode {
      font-size: 20px;
      .sizeElement (98px; 27px);
    }
    &__image {
      svg {
        .sizeElement (50%; auto);
      }
    }
  }
  .card--big {
    .card {
      &__voteSymbols {
        width: 135px;
        margin: 5px 15px;
        svg {
          .sizeElement (20px; 20px);
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cardList {
    box-sizing: border-box;
    grid-template-areas: "tour"
                          "route"
                          "jumps";
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .card {
    &__price {
      font-size: 33px;
      &::before {
        font-size: 33px;
      }
    }
    &__addInfo {
      .sizeCircle(150px);
      bottom: 5px;
      left: 10px;
      padding: 5px 2%;
      span {
        &:nth-of-type(3) {
          font-size: 12px;
          margin-bottom: 0;
        }
      }
    }
    &__showMore {
      font-size: 12px;
      padding: 11px 15px;
    }
  }
  .card--big {
    .card {
      &__infoColumn {
        &:nth-of-type(1) {
          width: 100%;
          padding-top: 23px;
        }
        &:nth-of-type(2) {
          align-items: center;
          width: 45%;
          bottom: -17px;
        }
      }
      &__infoRow {
        flex-direction: column;
        &:nth-of-type(2) {
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      &__reviewsItem {
        margin-right: 2%;
      }
      &__reviewsHead {
        font-size: 10px;
      }
      &__reviews {
        margin: 15px 0;
      }
      &__rating {
        font-size: 17px;
        padding: 10px 5px;
        margin-bottom: 10px;
      }
      &__descInfo {
        font-size: 12px;
        padding: 0;
        &:nth-of-type(1) {
          font-size: 25px;
          margin-bottom: 0;
        }
        &:nth-of-type(2) {
          margin-bottom: 0;
        }
      }
    }
  }

  .card--small {
    & .card {
      &__smallCardhead {
        h2 {
          font-size: 26px;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .cardList {
    grid-gap: 20px;
  }

  .card {
    &__showMore {
      font-size: 11px;
      padding: 13px 17px;
    }
  }

  .card--big {
    .card {
      &__addInfo {
        .sizeElement (200px; 200px);
        border-radius: 200px;
        bottom: 5px;
        left: 10px;
        padding: 25px 2%;
        span {
          &:nth-of-type(3) {
            font-size: 12px;
            margin-bottom: 0;
          }
        }
      }
      &__addInfoHead {
        font-size: 24px;
      }
      &__infoColumn {
        &:nth-of-type(1) {
          width: 100%;
          padding-top: 23px;
        }
        &:nth-of-type(2) {
          align-items: center;
          width: 45%;
          bottom: -17px;
        }
      }
      &__showMore {
        font-size: 12px;
        padding: 11px 15px;
      }
      &__infoRow {
        flex-direction: column;
        &:nth-of-type(2) {
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      &__reviews {
        margin: 20px 10px;
      }
      &__reviewsHead {
        font-size: 11px;
      }
      &__reviewsVote {
        font-size: 17px;
      }
      &__reviewsItem {
        margin-right: 2%;
      }
      &__rating {
        font-size: 17px;
        padding: 10px 5px;
        margin-bottom: 10px;
      }
      &__reviewsCount {
        margin-right: 3%;
        span {
          font-size: 12px;
        }
      }
      &__descInfo {
        font-size: 14px;
        padding: 0;
        &:nth-of-type(1) {
          font-size: 30px;
          margin-bottom: 0;
        }
        &:nth-of-type(2) {
          margin-bottom: 0;
        }
      }
    }
  }

  .card--small {
    .card {
      &__descInfo {
        font-size: 11px;
        font-family: Arial, sans-serif;
      }
      &__smallCardhead {
        h2 {
          margin-bottom: 7px;
        }
      }
      &__startPrice {
        font-size: 17px;
      }
      &__price {
        font-size: 19px;
        &::before {
          font-size: 19px;
        }
      }
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .card--small {
    .card {
      &__descInfo {
        font-size: 12px;
      }
      &__smallCardhead {
        h2 {
          font-size: 21px;
          margin-bottom: 10px;
        }
      }
      &__startPrice {
        font-size: 17px;
      }
      &__price {
        font-size: 20px;
        &::before {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .card--big {
    .card {
      &__infoColumn {
        &:nth-of-type(2) {
          bottom: -9px;
        }
      }
    }
  }

  .card--small {
    .card {
      &__descInfo {
        font-size: 12px;
      }
      &__smallCardhead {
        h2 {
          font-size: 23px;
          margin-bottom: 10px;
        }
      }
      &__startPrice {
        font-size: 17px;
      }
      &__price {
        font-size: 21px;
        &::before {
          font-size: 21px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1040px) {
  .cardList {
    grid-gap: 30px;
  }
  .card {
    &__image {
      svg {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    &__price {
      font-size: 33px;
      &::before {
        font-size: 33px;
      }
    }
  }

  .card--big {
    .card {
      &__addInfoHead {
        font-size: 24px;
      }
      &__infoColumn {
        &:nth-of-type(1) {
          width: 100%;
          padding-top: 23px;
        }
        &:nth-of-type(2) {
          align-items: center;
          width: 43%;
          bottom: -23px;
        }
      }
      &__voteSymbols {
        margin: 0 15px 0;
      }
      &__descInfo {
        &:nth-of-type(1) {
          font-size: 55px;
        }
        &:nth-of-type(2) {
          font-size: 19px;
          padding: 0 17%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1039px) {
  .card--big {
    .card {
      &__infoColumn {
        &:nth-of-type(1) {
          padding-left: 3%;
        }
        &:nth-of-type(2) {
          width: 45%;
          bottom: -90px;
          .card__descInfo {
            text-align: center;
          }
        }
      }
    }
  }
  .card--small {
    .card {
      &__info {
        box-sizing: border-box;
        padding: 0 3%;
      }
    }
  }
}
