@import "_variables";

footer {
  height: 64px;
  box-sizing: border-box;
  .content {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #777777;
  }
  & .social {
    &__item {
      svg {
        path {
          fill: #00bff3;
        }
      }
      &:hover {
        svg {
          path {
            fill: #a4af97;
          }
        }
      }
    }
  }
}

.copyright {
  display: flex;
  align-items: end;
  & span,
  & a {
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  & a {
    text-decoration: none;
    color: @accentColor;
    border-bottom:  1px solid rgba(0, 191, 243, 0.25);
    margin-left: 2px;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .copyright {
    & span,
    & a {
      font-size: 5px;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 479px) {
  .copyright {
    & span,
    & a {
      font-size: 7px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 539px) {
  .copyright {
    & span,
    & a {
      font-size: 9px;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .copyright {
    & span,
    & a {
      font-size: 11px;
    }
  }
}