@import "_variables";

header {
  critical: this;
  height: 104px;
  background-color: @accentColor;
  position: fixed;
  width: 100%;
  z-index: 222;
  .content {
    critical: this;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts {
  critical: this;
  display: flex;
}

.phone {
  critical: this;
  display: flex;
  align-items: center;
  & span,
  & a {
    critical: this;
    font-family: Arial, sans-serif;
    color: @headerTextColor;
  }
  &__number {
    critical: this;
    font-size: 30px;
  }
  &__callback {
    critical: this;
    font-size: 16px;
    border-bottom: 1px dotted @headerTextColor;
    margin: 0 47px 0 26px;
    color: #ffffff;
    transition: border-bottom 0.3s, color 0.3s;
    &:hover {
      cursor: pointer;
      border-bottom: 1px dotted rgb(255, 242, 0);
      color: rgb(255, 242, 0);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    height: 95px;
    .content {
      height: 95px;
    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .phone {
    &__number {
      font-size: 25px;
      margin-bottom: 5px;
    }
    &__callback {
      display: none;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: 100px;
    .content {
      height: 100px;
    }
  }
  .phone {
    &__number {
      font-size: 27px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}