h1 {
  font-size: 50px;
  line-height: 52px;
  font-family: "Trebuchet MS", sans-serif;
  color: #000000;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-family: "Trebuchet MS", sans-serif;
  color: #000000;
  font-weight: bold;
  position: relative;
  transition: color, 0.3s;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    transition: border-bottom, 0.3s;
  }
  &:hover {
    cursor: pointer;
    color: #CB0000;
    &::after {
      content: "";
      border-bottom: 1px solid rgba(203, 0, 0, .25);
      transition: border-bottom, 0.3s;
    }
  }
}

h3 {
  font-size: 22px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 43px;
    line-height: 45px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 45px;
    line-height: 47px;
  }
  h2 {
    font-size: 30px;
  }
}