@import "_variables";

.logo {
  color: @headerTextColor;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  width: 34%;
  img {
    flex-grow: 1;
  }
  &__desc {
    margin-left: 22px;
    flex-grow: 0;
    line-height: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    width: 30%;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .logo {
    img {
      flex-grow: 1;
      width: 100%;
      height: auto;
    }
    &__desc {
      display: none;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
  .logo {
    img {
      flex-grow: 1;
      width: 100%;
      height: auto;
    }
    &__desc {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 23%;
  }
}