@import "_variables";

.social {
  critical: this;
   display: flex;
   justify-content: center;
   align-items: center;
   &__item {
     critical: this;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 32px;
     height: 32px;
     border-radius: 32px;
     margin-right: 10px;
     &:last-of-type {
       critical: this;
       margin-right: 0;
     }
     svg {
       path {
         critical: this;
         fill: #ffffff;
         transition: fill 0.3s;
       }
     }
     &:hover {
       critical: this;
       cursor: pointer;
       svg {
         path {
           critical: this;
           fill: #ffe6a3;
         }
       }
     }
   }
 }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .social {
    &__item {
      width: 30px;
      height: 30px;
      border-radius: 30px;
    }
  }

  footer {
    .social {
      &__item {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        margin-right: 5px;
      }
    }
  }
}