.info__table {
  display: table;
  width: 100%;
  margin-top: 18px;
  &Row, &CellHead {
    font-size: 14px;
    font-family: Arial, sans-serif;
  }
  &Row--head, &Cell--head {
    font-weight: bold;
  }
  &Row--head {
    background-color: rgba(119, 119, 119, 0.2);
    height: 36px;
    & .info__tableCell {
      height: 36px;
    }
  }
  &Cell--head {
    padding-left: 13px;
    box-sizing: border-box;
  }
  &Row {
    width: 100%;
  }
  &Cell {
    display: table-cell;
    width: 116px;
    height: 42px;
    vertical-align: middle;
  }
}

.info__table {
  &Row {
    &:nth-of-type(2) {
      .info__tableCell {
        height: 45px;
      }
    }
    &:nth-of-type(3) {
      .info__tableCell {
        height: 15px;
      }
    }
    &:nth-of-type(4) {
      .info__tableCell {
        height: 45px;
      }
    }
    & .info__tableCell {
      &:nth-of-type(2) {
        width: 137px;
      }
      &:nth-of-type(3) {
        width: 137px;
      }
      &:nth-of-type(4) {
        width: 146px;
      }
    }
  }
  &Cell {
    span {
      display: flex;
      sub {
        font-size: 11px;
        align-self: flex-end;
        margin-top: 5px;
        letter-spacing: -0.75px;
      }
    }
  }
  &CellItem {
    display: flex;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .info__tableWrapper {
    overflow-x: scroll;
  }
  .info__table {
    &Row--head {
      & .info__tableCell {
        padding: 0;
      }
    }
    &Row {
      font-size: 13px;
    }
    &Cell {
      padding: 0 10px;
      min-width: 100px;
    }
  }
}