@import "_variables";

.infoWrapper {
  display: flex;
  justify-content: space-between;
  & .infoColumn {
    &:nth-of-type(1) {
      width: 75%;
      padding: 25px 0 0;
    }
    &:nth-of-type(2) {
      width: 22%;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 177px;
    }
  }
}

.textList {
  margin-left: 10px;
  li {
    .textStyle;
    margin-top: 5px;
    &::before {
      content: '\2014';
      margin-right: 4px;
    }
  }
}

b, blockquote, p {
  .textStyle;
}

b {
  font-weight: bold;
}

blockquote{
    display: flex;
    font-style: italic;
    padding: 12px 2% 20px 9.2%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 6.25%;
      height: 120px;
      width: 8px;
      background-color: #00BFF3;
    }
}

p {
  padding: 18px 0 24px;
  &:nth-of-type(1) {
    padding: 18px 0 27px;
  }
  &:nth-of-type(2) {
    padding: 7px 0 27px;
  }
  &:nth-of-type(4) {
    padding: 6px 0 17px;
  }
  &:nth-of-type(5) {
    padding: 0 5px 17px 0;
  }
  &:nth-of-type(6) {
    padding: 0 0 15px;
  }
  &:nth-of-type(7) {
    padding: 17px 0 0;
  }
}

.infoItem {
  font-family: Arial, sans-serif;
  color: #777777;
  &:nth-of-type(1) {
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: -0.05em;
    margin-bottom: 13px;
  }
  &:nth-of-type(2) {
    color: #000000;
    line-height: 31px;
    font-size: 30px;
    padding-left: 6px;
  }
  &:nth-of-type(3) {
    line-height: 25px;
    font-size: 20px;
    padding: 7px 0 0 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1039px) {
  blockquote {
      &::before {
        height: 100%;
        width: 4px;
      }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .infoWrapper {
    & .infoColumn {
      &:nth-of-type(1) {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 0 0;
      }
      &:nth-of-type(2) {
        display: none;
      }
    }
  }

  .textList {
    margin-left: 5px;
    li {
      font-size: 12px;
    }
  }

  b, blockquote, p {
    font-size: 12px;
  }

  blockquote {
      padding: 5px 1% 5px 9%;
      &::before {
        left: 6.25%;
        height: 100%;
        width: 4px;
        background-color: #00BFF3;
      }
  }
  b {
    padding: 15px 0 0;
  }
  p {
    &:nth-of-type(1) {
      padding: 10px 0 15px;
    }
    &:nth-of-type(2) {
      padding: 7px 0 10px;
    }
    &:nth-of-type(4) {
      padding: 15px 0 5px;
    }
    &:nth-of-type(5) {
      padding: 7px 0 10px;
    }
    &:nth-of-type(6) {
      padding: 0 0 10px;
    }
    &:nth-of-type(7) {
      padding: 0;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .infoWrapper {
      & .infoColumn {
        &:nth-of-type(1) {
          width: 100%;
          box-sizing: border-box;
        }
        &:nth-of-type(2) {
          display: none;
        }
      }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .infoWrapper {
    & .infoColumn {
      &:nth-of-type(1) {
        width: 73%;
        padding-left: 3%;
      }
      &:nth-of-type(2) {
        box-sizing: border-box;
        width: 24%;
        padding: 0 3% 0 2%;
        margin-top: 177px;
      }
    }
  }
  .infoItem {
    &:nth-of-type(1) {
      font-size: 80px;
      letter-spacing: -0.05em;
      margin-bottom: 13px;
    }
    &:nth-of-type(2) {
      font-size: 25px;
    }
    &:nth-of-type(3) {
      font-size: 17px;
    }
  }
  .textList {
    li {
      font-size: 13px;
    }
  }
  b, blockquote, p {
    font-size: 13px;
  }
}

