@accentColor: #00bff3;
@headerTextColor: #ffffff;


//@gridGap: ;

.sizeElement (@width; @height) {
  width: @width;
  height: @height;
}

.sizeMax () {
  width: 100%;
  height: 100%;
}

.sizeCircle (@value) {
  width: @value;
  height: @value;
  border-radius: @value;
}

.centerFlexAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showMoreElements {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: left 0.3s, opacity 0.3s;
}

.textStyle {
  font-family: Arial, sans-serif;
  line-height: 19px;
  font-size: 14px;
  color: #000000;
}
