@import "reset-css/reset";
@import "_header";
@import "_footer";
@import "_social";
@import "_logo";
@import "_headers";
@import "_card";
@import "_textInfo";
@import "_table";

* {
  font-family: Arial, sans-serif;
}

.content {
  width: 1040px;
  margin: 0 auto;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex-grow: 0;
}

main {
  background-color: #ffffff;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 128px 0;
  width: 1040px;
  margin: 0 auto;
}

section {
  width: 100%;
}

ul, menu, dir {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 73px 0 17px;
}

@media screen and (min-width: 320px) and (max-width: 1039px) {
  .content {
    width: 100%;
    padding: 0 3%;
  }
  main {
    width: 100%;
    box-sizing: border-box;
  };
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .content {
    padding: 0 4%;
  }
  main {
    padding: 110px 4%;
  };
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .content {
    padding: 0 5%;
  }
  main {
    padding: 124px 5%;
  };
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    padding: 0 3%;
  }
  main {
    padding: 128px 3%;
  };
}

@media screen and (min-width: 1024px) and (max-width: 1039px) {
  main {
    padding: 128px 3%;
  };
}

