doctype
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="тестовое задание на вакансию верстальщика")
        meta(name="theme-color" content="#00bff3")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='suntour'
        link(href="styles/index.critical.css" rel="stylesheet")
        script(defer="defer")
            include js/index.js
    body
        header
            div.content
                include modules/logo
                div.contacts
                    include modules/phone
                    include modules/social
        main
            include modules/cardList
            include modules/textInfo
        footer(role="contentinfo")
            div.content
                include modules/copyright
                include modules/social
